:host {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: var(--cui-gray-500, #999);
    --scrollbar-thumb-hover-color: var(--cui-gray-400, #999);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

// ng-scrollbar css variables
//.cui-scrollbar {
//  --scrollbar-border-radius: 7px;
//  --scrollbar-padding: 1px;
//  --scrollbar-viewport-margin: 0;
//  --scrollbar-track-color: transparent;
//  --scrollbar-wrapper-color: transparent;
//  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
//  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
//  --scrollbar-size: 5px;
//  --scrollbar-hover-size: var(--scrollbar-size);
//  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
//  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
//}

.btn-transparent {
  background-color: transparent;
  border: none;
  color: inherit;
  transition: color 0.3s ease, width 0.3s ease;
  width: 100%;
}

.btn-transparent:hover {
  color: #007bff; /* Change this to your desired hover color */
  width: calc(100% + 40px);
}

.operator-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.operator-button i {
  margin-right: 0.5rem;
  transition: color 0.3s ease;
}

.btn-transparent:hover i {
  color: #007bff; /* Change this to your desired hover color */
}

.btn {
  padding-top: 25px;
}