.operator-info {
  display: flex;
  flex-wrap: wrap;
  
}

.operator-field {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0.5rem;

  strong {
    margin-right: 0.5rem;
  }
}

.role-label {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;

  input[type="checkbox"] {
    margin-right: 0.25rem;
  }
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  opacity: 0.25;
  margin: 0 0.5rem;
}

.delete-icon {
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: darkred;

    i {
      transform: scale(1.2);
    }
  }
}

.edit-icon {
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: darkred;

    i {
      transform: scale(1.2);
    }
  }
}

.custom-modal-content {
  background-color: #2c2e33;
  color: #fff;
  border-radius: 10px;
}

.custom-modal-header {
  background-color: #4f5b62;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.custom-modal-body {
  padding: 20px;
}

.custom-modal-footer {
  background-color: #4f5b62;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-dialog-centered {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

// Table styles
::ng-deep table {
  // Add some spacing around the table
  margin-top: 1rem;
  margin-bottom: 1rem;

  thead th {
    // Styles for table header cells
    padding: 0.75rem;
    padding-left: 60px;
  }

  tbody td {
    // Styles for table body cells
    padding: 0.75rem;
    vertical-align: middle;
    padding-left: 40px;

    .edit-icon,
    .delete-icon {
      // Styles for edit and delete icons
      cursor: pointer;
    }

    .edit-icon {
      // Styles for edit icon
      margin-right: 0.5rem;
    }

    .delete-icon {
      // Styles for delete icon
      margin-left: 0.5rem;
    }
  }
}

// Add spacing between label and input
.mb-3 {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem; // Adjust the value as needed
  }
}

// Add spacing between radio buttons
.mb-3 .form-radio {
  margin-bottom: 0.5rem; // Adjust the value as needed
}

// Button styles
button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #6880cc;
}

/* Responsive Table */
@media (max-width: 767px) {
  /* Styles for small screens (mobile devices) */
  .table-responsive-data {
    border: none;
  }

  .table-responsive-data thead {
    display: none;
  }

  .table-responsive-data tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
  }

  .table-responsive-data tbody td {
    display: block;
    text-align: right;
    padding: 0.75rem;
    padding-left: 70px;
  }

  .table-responsive-data tbody td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  /* Styles for larger screens (tablets and desktops) */
  .table-responsive-data thead {
    display: table-header-group;
  }

  .table-responsive-data tbody tr {
    display: table-row;
  }

  .table-responsive-data tbody td {
    display: table-cell;
    text-align: left;
    padding: 0.75rem;
    padding-left: 50px;
  }

  .table-responsive-data tbody td:before {
    content: none;
  }
}

.search-input {
  width: 200px;
}

.pagination {
  .page-item {
    &.active {
      .page-link {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
      }
    }
  }
}

.pagination-wrapper {
  margin-bottom: -5px; 
}

.pagination-wrapper a {
  cursor: pointer;
}

.items {
  padding-right: 8px;
}

.items-per-page {
  font-size: 13px;
  

  .items {
    font-size: inherit;
  }

  select {
    font-size: 12px;
    padding: 2px 4px;
  }
}
