<div>
  <!-- <c-container>
    <c-row [xs]="1" [sm]="2" [md]="4">
      <c-col *ngFor="let operator of operators">
        <c-card>
          <c-card-header>
            <strong>{{ operator.operatorName }}</strong>
          </c-card-header>
          <c-card-body>
            <p><strong>Username:</strong> {{ operator.credentials.username }}</p>
            <p><strong>Phone:</strong> {{ operator.contactInfo.phone }}</p>
            <p><strong>Role 1:</strong> {{ operator.roles.role1?.join(', ') }}</p>
            <p><strong>Role 2:</strong> {{ operator.roles.role2?.join(', ') }}</p>
            <p><strong>Role 3:</strong> {{ operator.roles.role3?.join(', ') }}</p>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container> -->
  
  hello
</div>
<c-card class="m-4">
  <!-- <div>
    <h1>{{ welcomeMessage }}</h1>
  </div> -->
    </c-card>